<!-- Form -->
<form
  class="text-center app-change-password shadow-sm rounded p-3"
  [formGroup]="changePasswordForm"
  (ngSubmit)="changePassword()"
>
  <h3 class="d-block border p-3">Change Password</h3>

  <!-- Password -->
  <div class="md-form">
    <input
      type="password"
      id="oldPassword"
      class="form-control"
      formControlName="oldPassword"
      autocomplete="password"
      mdbInput
    />
    <label for="oldPassword">Old Password</label>
  </div>

  <!-- Password -->
  <div class="md-form">
    <input
      type="password"
      id="newPassword"
      class="form-control"
      formControlName="newPassword"
      autocomplete="password"
      mdbInput
    />
    <label for="newPassword">New Password</label>
  </div>

  <!-- Change Password button -->
  <button
    mdbBtn
    block="true"
    class="my-4"
    style="background: #01579b;"
    type="submit"
    name="changePasswordSubmit"
    mdbWavesEffect
  >
    Change
  </button>
</form>
<!-- Form -->
