<!-- Form -->
<form
  class="text-center app-sign-up shadow-sm rounded p-3"
  [formGroup]="signUpForm"
  (ngSubmit)="signUp()"
>
  <h3 class="d-block border p-3">Sign Up</h3>

  <!-- Email -->
  <div class="md-form">
    <input
      type="email"
      id="signUpEmail"
      class="form-control"
      formControlName="email"
      autocomplete="email"
      mdbInput
    />
    <label for="signUpEmail">E-mail</label>
  </div>

  <!-- Password -->
  <div class="md-form">
    <input
      type="password"
      id="signUpPassword"
      class="form-control"
      formControlName="password"
      autocomplete="password"
      mdbInput
    />
    <label for="signUpPassword">Password</label>
  </div>

  <!-- Password -->
  <div class="md-form">
    <input
      type="password"
      id="signUpConfirmPassword"
      class="form-control"
      formControlName="password_confirmation"
      autocomplete="password"
      mdbInput
    />
    <label for="signUpConfirmPassword">Password</label>
  </div>

  <!-- Sign in button -->
  <button
    mdbBtn
    block="true"
    class="my-4"
    style="background: #01579b;"
    type="submit"
    name="signUpSubmit"
    mdbWavesEffect
  >
    Sign Up
  </button>

  <!-- Register -->
  <p>
    Already a member?
    <a href="" routerLink="/login" routerLinkActive="active-nav-link">
      Login
    </a>
  </p>
</form>
<!-- Form -->
