.app-toast {
  position: fixed;
  top: 40px;
  right: 10px;
  min-width: 200px;
  max-width: 300px;
  width: 100vw;
  .toastr {
    min-width: 200px;
    max-width: 300px;
    width: 100vw;
    background: #eee;
    // opacity: 0;

    &.success {
      background: lighten(green, 66%);
    }
    &.error {
      background: lighten(red, 40%);
    }
    &.info {
      background: lighten(blue, 40%);
    }
    &.warning {
      background: lighten(yellow, 40%);
    }
  }
}
